.body {
    background: #EBEBEB;
}

.control_new {
    padding: 10px;
}

.body_container {
    padding: 20px;
}

.padding {
    padding-left: 5px;
}

.control {
    padding: 15px;
    background: #EBEBEB;
}

.table {
    text-align: center;
}

.card-content a {
    color: #101010;
}

.card-content a:hover {
    color: #48c774;
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}