<footer class="footer">
        <div class="content has-text-centered">
                <strong class="has-text-warning-dark">
                        Noso Faucet
                                                
                </strong>
        </br>
        <small>
                PasichDev
                                
        </smal>
</div></footer>