<header class="card-header has-background-dark">
	<p class="card-header-title has-text-white">
	Faucet settings
	</p>

</header>
<div class="card-content has-background-white">
	<div class="content">

		<div class="field">
			<label class="label">Time interval between claims</label>
			<div class="control has-background-white">
				<input class="input" type="text" placeholder="Text input">
			</div>
		</div>

    <div class="field">
  <label class="label">The number of coins that are paid out for one claim</label>
  <div class="control has-background-white">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
<label class="label">Minimum number of NOSOs to pay out</label>
<div class="control has-background-white">
  <input class="input" type="text" placeholder="Text input">
</div>
</div>


<div class="field">
<label class="label">The percentage that the refer receives</label>
<div class="control has-background-white">
  <input class="input" type="text" placeholder="Text input">
</div>
</div>
<div class="field is-grouped">
  <div class="control has-background-white">
    <button class="button is-link">Submit</button>
  </div>
  
</div>

	</div>
