{% extends 'layouts/page.twig' %}
{% block content %}

<div class="columns">
		<div class="column is-two-thirds">\
    {% if ViewInclud == "FaucetSettings"  %}
         {% include 'adminPage/FaucetSettings.twig' %}
    
    {% endif %}
    
      </div></div>


<div class="column">


<nav class="panel has-background-white">
  <p class="panel-heading has-background-dark  has-text-white">
  Navigation
  </p>
  <div class="panel-block has-background-white">
    <div class="field has-addons">
  <div class="control has-background-white">
    <input class="input" type="text" placeholder="Enter wallet address">
  </div>
  <div class="control has-background-white">
    <a class="button is-danger"> Search</a>
  </div>
</div>
     
  </div>
 
 
  <a class="control has-background-white panel-block">
    <span class="panel-icon">
    </span>
    Faucet settings
  </a>

  <a class="control has-background-white panel-block">
    <span class="panel-icon">
    </span>
    Faucet settings
  </a>
  <a class="control has-background-white panel-block">
    <span class="panel-icon">
    </span>
    Faucet settings
  </a>

  
</nav>

</div></div>
{% endblock %}





