{% extends 'layouts/page.twig' %}
{% block content %}
	<div class="columns">
		<div class="column is-half">

			{% if ErrorInvalidWallet %}

				<div class="notification is-danger">
					Need to provide a valid address!!
				</div>
			{% endif %}
			<div class="card">
				<header class="card-header has-background-black-ter">
					<p class="card-header-title has-text-white">
						Login
					</p>
				</header>
				<div class="card-content">
					<form action="/auth/login" method="post">
						<div class="control has-background-white">
							<input class="input is-danger" type="text" name="walletAdress" placeholder="Enter Noso-coin wallet address" required></div>
						<div class="field is-grouped is-grouped-centered">
							<div class="control has-background-white">
								<button class="button is-danger">
									Login
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>


		</div>
		<div class="column">

			<div class="box">
				<div class="control has-background-white">
					<h5 class="title is-5 ">
						<li>What is Noso Faucet?</li>
					</h5>
					<h5 class="subtitle is-5">
						<strong class="has-text-danger">Noso Faucet</strong>
						-  is a faucet that distributes
						<strong>Noso Coins</strong>. You can get the coin after making a claim and solving the captcha..</li>
				</h5>
			</div>
		</div>
		<div class="box">
			<nav class="level">
				<div class="level-item has-text-centered">
					<div>
						<p class="heading">
							Users
						</p>
						<p class="title"> {{ Count_Users }}
						</p>
					</div>
				</div>
				<div class="level-item has-text-centered">
					<div>
						<p class="heading">
							Paid to NOSO
						</p>
						<p class="title"> {{ Count_Paid }}
						</p>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div></div>{% endblock %}
