{% extends 'layouts/page.twig' %}
{% block content %}
      <div class="columns is-multiline is-centered">
            <div class="column is-5">
                  <div class="card">
                        <header class="card-header">
                              <p class="card-header-title">
                                    2. Solve Captcha
                                        
                              </p>
                        </header>
                        <div class="card-content">
                              <form action="/claim/check" method="POST">
                                    <input type="hidden" name="TOKEN_HIDEEN" value="{{ TOKEN_HIDEEN }}">
                                          <div class="g-recaptcha" data-sitekey="{{ PublicKey }}"></div>
                                          <div class="control field is-grouped is-grouped-right has-background-white">
                                                <button type="submit" class="button is-warning">
                                                      Claim
                                                                                    
                                                </button>
                                          </div>
                                    </form>
                              </div>
                        </div>
                  </div>
            </div>
      {% endblock %}
      