{% extends 'layouts/page.twig' %}
{% block content %}
	<div class="box">
		<div class="control has-background-white">
			<h5 class="title is-5 ">
				<li>What is Noso Faucet?</li>
			</h5>
			<h5 class="subtitle is-5">
				<strong class="has-text-danger">Noso Faucet</strong>
				-  is a faucet that distributes
				<strong>Noso Coins</strong>. You can get the coin after making a claim and solving the captcha..</li>
		</h5>
	</div>
</div>
<div class="box">
	<div class="control has-background-white">
		<h5 class="title is-5">
			<li>How much can i earn on one claim?</li>
		</h5>
		<h5 class="subtitle is-5">Our faucet pays
			<strong class="has-text-warning">{{NosoPay}}
				NOSO
			</strong>
			per claim. Claims can be made once a day!</li>
	</h5>
</div></div><div class="box">
<div class="control has-background-white">
	<h5 class="title is-5">
		<li>How and when can I receive coins to my address?</li>
	</h5>
	<h5 class="subtitle is-5">The payment of coins can only be ordered to the wallet address from which the entry was made. Payment can be ordered at any time!</li>
</h5></div></div>{% endblock %}
