{% extends 'layouts/page.twig' %}
{% block content %}
      <div class="box">
      <div class="control has-background-white">
<h5 class="title is-5 "> <li>What is Noso Faucet?</h5>
<h5 class="subtitle is-5">Subtitle 5</li></h5>
</div>
<div class="control has-background-white">
<h5 class="title is-5"><li>How much can i earn on one claim?</h5>
<h5 class="subtitle is-5">Subtitle 5</li></h5>
</div>
<div class="control has-background-white">
<h5 class="title is-5"><li>How and when can I receive coins to my address?</h5>
<h5 class="subtitle is-5">Subtitle 5</li></h5>
</div>


</div>
{% endblock %}
